<!DOCTYPE html>
<html>
    <head>
        <title>Computer Science</title>
    </head>
    <body>
        <pre id="arrPrint"></pre>
        <h1> Computer Science </h1>
              
        
        
        <div>
            <% url.forEach(function(u) { %>
                <li> url: <%= u %> </li>
              <% }); %>


        
        </div>
    </body>
</html>
