<!DOCTYPE html>
<html>
    <head>
        <title>Google Domains</title>
        <style>
            h1 {text-align: center;}
        </style> 
    </head>
    <body>

    <header>
        <div>
            <nav>FIXED</nav>
        </div>
    </header>
    <h1 id="topicselection" style = "text-align:center;"> Topic Selection </h1>
    
    <div>
    <A HREF = "login" style = "text-align:center;">Login</A>

    </div>

    <div>
    <A HREF = "share" style = "text-align:center;">Share</A>
    
    </div>
      
    <div id= "Selection">
        <form action= "action_page.php" target="_blank" method="get">


            <label for= "topic">Topic: </label>
            <select name= "topic">
                
                <option value= "0" selected disabled>Subject</option>
                <option value= "Math">Math</option>
                <option value= "Science">Science</option>
                <option value= "CS">CS</option>
                <option value= "French">French</option>
                <option value= "English">English</option>
                <option value= "Art">Art</option>
               
                </select>
            <div>
            <img src="logo.png" style="text-align:center" alt="Our Logo">

            <button type= "submit" value="Submit">Submit</button>
            </div>
    <style>
        h1 {
            background-color: rgb(33, 58, 27);
            color: white;
            font-family: 'comic sans';

        }
        img {
            bottom: 300;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #c4c4c4;
            color: white;
            text-align: center;
            font-family: sans-serif;
        }
        .square {
            position: absolute;
            width: 267px;
            height: 501px;
            bottom: 300;
            background: #C4C4C4;
        }
    </style>
    <div class="footer">
        <p>Follow us on Instagram @ReboundEducation</p>
    </div>
        

            

        




    </body>
</html>