<!DOCTYPE html>
<html>
    <head>
        <title>Rebound Education</title>
        <link rel="stylesheet" href="stylesheets/index.css">
    </head>
    <body>
      <div id="header">
        <h1 id="topicselection" style = "text-align:center;"> Rebound Education </h1>
      </div>
      <div id="nav"> 
        <A href="/">Home</A>
        <A href="share">Share</A>  
        <A href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact Us</A>  
        <A href="aboutus">About Us</A>  
        <A HREF = "login">Login</A>
      </div>
    <br/>
    <br/>
    <br/>
    <img src="Logo.png" alt="Our Logo" width=450px length =450px id="first">
    <div>
        <img id="middle" src="Browse.png" alt="browse topics" width=450px length =450px>
        
    </div>
    <div>
        <a href = "Math">Math</a>
        <a href = "CS">CS</a>
        <a href = "French">French</a>
        <a href = "English">English</a>
        <a href = "Law">Law</a>
        <a href = "Science">Science</a>
    </div>

    <img src="explanation.png" alt="our browse" width=450px length =400px id="last">
    
    <div class="footer">
        <p>Email us at: Nathan@reboundeducation.com</p>
        <p>Follow us @reboundeducation</p>
    </div>
    </body>
</html>