<!DOCTYPE html>
<html>
    <head>
        <title>Google Domains</title>
        <style>
            h1 {text-align: center;}
        </style> 
    </head>
    <body>

    <h1 id="topicselection" style = "text-align:center;"> Topic Selection </h1>
    
    <div>
    <A HREF = "login" style = "text-align:center;">Login</A>

    </div>

    <div>
    <A HREF = "share" style = "text-align:center;">Share</A>
    
    </div>
      
    <div id= "Selection">
        <form action= "action_page.php" target="_blank" method="get">


            <label for= "topic">Topic: </label>
            <select name= "topic">
                
                <option value= "0" selected disabled>Subject</option>
                <option value= "Math">Math</option>
                <option value= "Science">Science</option>
                <option value= "CS">CS</option>
                <option value= "French">French</option>
                <option value= "English">English</option>
                <option value= "Art">Art</option>
               
                </select>
            <div>

            <button type= "submit" value="Submit">Submit</button>
            </div>
    <style>
        h1 {
            background-color: skyblue;
            color: white;
            font-family: 'comic sans';

        }
        .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(0, 238, 255);
        color: white;
        text-align: center;
        }
    </style>
    <div class="footer">
        <p>Sponsored by RAID: Shadow Legends</p>
    </div>
        

            

        




    </body>
</html>