<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <style>
            h1 {text-align: center;}
        </style> 
    </head>
    <body>

        <header>
            <div>
                <nav></nav>
            </div>
        </header>

        <h1 name="topic" id="topicselection" style = "text-align:center;"> Login</h1>
        <style>
            h1 { 
            background-color: skyblue;
            }
            </style>
        <div>
        <A HREF = "/" >select topic</A>
        </div>
        
        <div id= "Selection">
            <form action= "/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" autofocus placeholder="Username">
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password">
                <br>
                <button type="submit" name="submit">Submit</button>
                </div>
            <div>
            <A HREF = "signup" >Dont have an accunt? Sign up</A>
            </div>
            <style>
                body {
                    background-color: rgb(255, 255, 255);
                }
                .footer {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background-color: rgb(255, 209, 5);
                    color: rgb(0, 0, 0);
                    text-align: center;
                    padding:5px 0px 5px 10px;
                    }
            </style>
            <div class="footer">
                <p>Email WillTran@domain.com to troubleshoot any login issues</p>
            </div>
        </div>
    </body>
</html>