<!DOCTYPE html>
<html>
    <head>
        <title>Science</title>
    </head>
    <body>
        <h1> Science </h1>
        
        <div>
        <A HREF = "/" >Home</A>
        </div>              
        
        
        <div>
            <% url.forEach(function(u) { %>
                <li> url: <%= u %> </li>
              <% }); %>


        
        </div>
    </body>
</html>