<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="share.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>

    <h1 name="topic" id="topicselection" style = "text-align:center;"> Share a video</h1>
    <div>
    <A HREF = "/" >select topic</A>
    </div>

    <button onclick="checkCookie()">cookie</button>
    
    <div id= "Selection">
        <form action= "/share" method="POST">
            <label for="resource">Resource:</label>
            <input type="url" name="resource" autofocus placeholder="link of resource" required>
            <br>
            <label for= "topic">Topic: </label>
            <select name= "topic" required>
                
                <option value= "0" selected disabled>Subject</option>
                <option value= "Math">Math</option>
                <option value= "Science">Science</option>
                <option value= "CS">CS</option>
                <option value= "French">French</option>
                <option value= "English">English</option>
                <option value= "Law">Law</option>

                </select>
            <br>
            <span id="submitButton">
            </span>
            </div>
            
            <div class="footer">
                <p>WARNING: The distribution of explicit images or videos will result in a permanent ban</p>
            </div>
        </form>
        <span id="fakeButton">
            <button onclick="notsigned()">Share</button>
        </span>
    </div>
    <script src="javascripts/share_script.js"></script>
    </body>
</html>