<!DOCTYPE html>
<html>
    <body>
    <title>signup</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <h1 name="topic" id="topicselection" style = "text-align:center;"> Rebound Education</h1>
    <div id="nav"> 
        <a href="/">Home</a>  
        <a href="share">Share</a>  
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact Us</a>  
        <a href="aboutus">About Us</a>  
        <a href="login">Log In</a>
    </div>
    <br/>
    <br/>
    <br/>
    </div>
      <img src="Logo.png" alt="Our Logo" width=450px length =450px id="first">
        <div>
    <div>
    </div>
      
    <div id= "Selection">
        <form action= "/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" autofocus placeholder="Username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password">
            <br>
            <button type="submit" name="submit">Signup</button>
            </div>
        
            <div>
            <A HREF = "login" >Already have an account? log in</A>
            </div>
          <div class="footer">
              <p>WARNING: The distribution of explicit images or videos will result in a permanent ban</p>
          </div>
        </form>
    </body>
</html>