<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="signup.css">
        <style>
            h1 {text-align: center;}
        </style> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>

    <h1 name="topic" id="topicselection" style = "text-align:center;"> Sign up</h1>
    <style>
        h1 { 
        background-color: rgb(33, 58, 27);
        color: white;
        }
        </style>
    <div>
    <A HREF = "/" >Home</A>
    </div>
      
    <div id= "Selection">
        <form action= "/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" autofocus placeholder="Username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password">
            <br>
            <button type="submit" name="submit">Signup</button>
            </div>
        
            <div>
            <A HREF = "login" >Already have an account? log in</A>
            </div>
            <div class="footer">
                <p>Tip: Try not to include personal information in your username</p>
            </div>
    </body>
</html>