<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <style>
            h1 {text-align: center;}
        </style> 
    </head>
    <body>

    <h1 name="topic" id="topicselection" style = "text-align:center;"> Sign up</h1>
    <style>
        h1 { 
        background-color: skyblue;
        }
        </style>
    <div>
    <A HREF = "/" >select topic</A>
    </div>
      
    <div id= "Selection">
        <form action= "/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" autofocus placeholder="Username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password">
            <br>
            <button type="submit" name="submit">Signup</button>
            </div>
        
            <div>
            <A HREF = "login" >Already have an account? log in</A>
            </div>
            <style>
                .footer {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background-color: rgb(255, 30, 0);
                    color: white;
                    text-align: center;
                    }
            </style>
            <div class="footer">
                <p>Big dawgs in da house</p>
            </div>
    </body>
</html>