<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <style>
            h1 {text-align: center;}
        </style> 
    </head>
    <body>

    <h1 name="topic" id="topicselection" style = "text-align:center;"> Sign up</h1>
    <style>
        h1 { 
        background-color: skyblue;
        }
        </style>
    <div>
    <A HREF = "/" >select topic</A>
    </div>
      
    <div id= "Selection">
        <form action= "/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" autofocus placeholder="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="username">
            <br>
            <button type="submit" name="submit">Signup</button>
            </div>
        
            <div>
            <A HREF = "login" >Already have an account? log in</A>
            </div>
    </body>
</html>