h1 { 
    background-color: rgb(33, 58, 27);
    color: white; 
    }
body {
    background-color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c4c4c4;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    padding:5px 0px 5px 10px;
    }